// this file is used to generate dist/_variables.scss
// calcite-colors are added to the scope before build and then inlined
$white:         $blk-000 !default;
$off-white:     $blk-005 !default;
$lightest-gray: $blk-010 !default;
$lighter-gray:  $blk-020 !default;
$light-gray:    $blk-030 !default;
$gray:          $blk-130 !default;
$dark-gray:     $blk-160 !default;
$darker-gray:   $blk-180 !default;
$darkest-gray:  $blk-200 !default;
$off-black:     $blk-220 !default;
$black:         $blk-240 !default;

$lightest-blue: $h-bb-010 !default;
$lighter-blue:  $h-bb-030 !default;
$light-blue:    $h-bb-050 !default;
$blue:          $h-bb-060 !default;
$dark-blue:     $h-bb-070 !default;
$darker-blue:   $h-bb-080 !default;

$lightest-green:$h-gg-010 !default;
$lighter-green: $h-gg-030 !default;
$light-green:   $h-gg-050 !default;
$green:         $h-gg-070 !default;
$dark-green:    $h-gg-070 !default;
$darker-green:  $h-gg-080 !default;

$lightest-red:  $h-rr-010 !default;
$lighter-red:   $h-rr-030 !default;
$light-red:     $h-rr-050 !default;
$red:           $h-rr-060 !default;
$dark-red:      $h-rr-070 !default;
$darker-red:    $h-rr-080 !default;

$transparent-white:       rgba(255, 255, 255, 0.7) !default;
$opaque-white:            rgba(255, 255, 255, 0.8) !default;
$transparent-off-white:   rgba(0, 0, 0, 0.1) !default;

$transparent-darker-gray: rgba(0, 0, 0, 0.30) !default;
$transparent-off-black:   rgba(0, 0, 0, 0.45) !default;
$transparent-black:       rgba(0, 0, 0, 0.75) !default;
$opaque-black:            rgba(0, 0, 0, 0.85) !default;

$lightest-orange: $h-oo-010 !default;
$lighter-orange:  $h-oo-020 !default;
$light-orange:    $h-oo-040 !default;
$orange:          $h-oo-060 !default;
$dark-orange:     $h-oo-080 !default;
$darker-orange:   $h-oo-090 !default;

$lightest-yellow: $h-yy-010 !default;
$lighter-yellow:  $h-yy-020 !default;
$light-yellow:    $h-yy-040 !default;
$yellow:          $h-yy-050 !default;
$dark-yellow:     $h-yy-070 !default;
$darker-yellow:   $h-yy-080 !default;

$lightest-purple: $h-vv-010 !default;
$lighter-purple:  $h-vv-020 !default;
$light-purple:    $h-vv-040 !default;
$purple:          $h-vv-060 !default;
$dark-purple:     $h-vv-080 !default;
$darker-purple:   $h-vv-090 !default;

$lightest-brown:  $h-br-010 !default;
$lighter-brown:   $h-br-020 !default;
$light-brown:     $h-br-040 !default;
$brown:           $h-br-060 !default;
$dark-brown:      $h-br-080 !default;
$darker-brown:    $h-br-090 !default;

// animation
$transition:      150ms linear                !default;
$box-shadow:      0 0 16px 0 rgba(0,0,0,.05)  !default;
$easing-function: cubic-bezier(0.215, 0.440, 0.420, 0.880) !default;

// breakpoints
$viewport-small:  480px  !default;
$viewport-medium: 860px  !default;
$viewport-large:  1440px !default;

// type 
$baseline-ratio:  1.5                    !default;
$baseline:        $baseline-ratio * 1rem !default;
$ratio:           1.414;
$medium-ratio:    1.33;
$small-ratio:     1.25;
$body-size:       1rem;
$small-size:      0.85rem;
$indent:          1em;
$avenir-tracking: 0;
$avenir-family:   'Avenir Next W01', 'Avenir Next W00', 'Avenir Next', 'Avenir', 'Helvetica Neue', sans-serif;
$code-tracking:   0;
$code-family:     'Consolas', 'Andale Mono', 'Lucida Console', 'Monaco', monospace;